body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}
header {
  display: flex;
  margin: 1px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.95);
  font-family: 'Slabo 27px', serif;
  justify-content: center;
}
.container-ico {
  margin: 6px;
  padding: 1px;
}
header a {
  text-decoration: none;
  color: whitesmoke;
}
header a h1 {
  margin: 1px;
  padding: 1px;
  border: 1px;
  width: 20%;
}
.container-ppal {
  border:1px;
  margin: 1px;
  padding: 1px;
  display: flex;
}
.container-left {
  display: inline-block;
  width: 40%;
  padding: 1px;
  border:1px;
  margin: 1px;
}
.container-imgppal {
  display: flex;
  justify-content: center;
}
.container-imgppal img {
  height: 300px;
  margin-top: 5%;
  border-radius: 5%;
}

.text-container {
  margin-top: 20%;
}
.text-container p a {
  text-decoration: none;
}
.container-left h1 {
  border-bottom: 1px black solid;
  font-size: 40px;
  margin: 1px;
  padding: 1px;
  height: 50px;
  width: 98%;
  font-family: 'EB Garamond', serif;
}
.container-left p {
  font-size: 35px;
  margin: 15px 5px 5px 10px;
  font-family: 'EB Garamond', serif;
}
.container-left p a {
  color: rgba(0, 0, 0, 0.8);
  
}
.social-networks{
  margin: 15% 2px 2px 5px;
  text-align: center;
  box-shadow: -1px 1px 12px -1px rgba(0,0,0,0.66);
  width: 97%;
}
.social-networks li{
  margin: 5px;
  display: inline-flex;
}
.social-networks li ol {
  height: 100px;
  margin: 5px;
  padding: 1px;
  
}
.social-networks a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.social-networks li i{
  font-size: 30px;
  
}
.container-imgSection {
  padding: 1px;
  margin: 1px;
  border: 1px;
  display: grid;
  grid-template:
    'imgs1 imgs2 imgs3'
    'imgs4 imgs5 imgs5'
    'imgs6 imgs6 imgs6';
  width: 59%;
  grid-gap: 5px;
  justify-items: center;
}
.ref-item {
  cursor: pointer;
  position: relative;
  display: block;
  height: 270px;
}
.item {
  margin: 0;
  height: 99%;
}
#item1 {
  grid-area: imgs1;
}

#item1:hover {
  animation-name: transs;
  animation-delay: 0s;
  animation-duration: 5s;
}

#item2 {
  grid-area: imgs2;
}
#item3 {
  grid-area: imgs3;
}
#item4 {
  grid-area: imgs4;
}
#item5 {
  grid-area: imgs5;
}
#item6 {
  grid-area: imgs6;
}
.IMG-Item {
  border-radius: 3%;
  width: 97%;
  height: 97%;
  margin: 1px;
  padding: 1px;
  padding: 1px;
}
.item-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.ref-item:hover .item-overlay {
  display: flex;
}
footer {
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
}
.footer-container a {
  color: whitesmoke;
}

/* animaciones */

@keyframes transs {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  50% {
  }
  100% {
    background: red;
  }
}